
#activity{
    padding-top: 5%;
    margin-top: 30%;
    display: flex;
    width: 100%;
}
.act_photo{
    width: 60%;
}
img{
    height: 300px;
    border-radius: 5%;
}
.explore{
    margin-top: 20px;
}
.act_info{
    width: 40%;
    margin-top: 55px;
}
.act_info h1{
    font-size: 50px;
}
.act_info ul{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}
.act_info ul span{
    font-size: 50px;
}
.act_info li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: -100px;
    margin-top: 5px;
}

.add{
    display: none;
}
@media(max-width: 600px){
    #activity{
        display: block;
    }
    .act_photo{
        display: flex;
        margin-left: 40px;
        margin-top: 100px;
    }
    .act_photo .img{
        display: none;
    }
    .act_info h1{
        width: 100vw;
        padding: 10px;
        font-size: 35px;
        flex-wrap: wrap;
    }
    .act_info p{
        padding: 10px;
        width: 90vw;
        font-size: 14px;
    }
    .btn{
        margin-left: 10px;
        height: 5vh;
        width: 30vw;
        font-size: 12px;
    }
    .act_info ul{
        gap: 20px;
        font-size: 20px;
    }
    .act_info ul span{
        margin-left: 5px;
    }
    .act_info li{
        margin-left: -15px;
    }
}


/*     explore     */
#explore h1{
    text-align: center;
    font-size: 40px;
    margin: 50px;
}
.videos{
    display: inline-flex;
    overflow-x: hidden;
    gap: 10px;
    margin-left: -12%;
}
iframe{
    width: 480px;
}

@media(max-width: 600px){
.videos{
    padding: 10px 50px;
    width: 1200px;
    overflow: scroll;
}
}