body{
  overflow-x: hidden;
}
.marquee{  
    position: absolute;
    animation: marquee 60s linear infinite;
    padding: 50px;
    display: inline-flex;
}

@keyframes marquee {
  0%{
    transform: translateX(-50%);
  }
  35% {
    transform: translateX(-10%);
  }
  70%{
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.offers{
    display: flex;
}

.cookie-card {
  margin-left: 10px;
  max-width: 350px;
  width: 200px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.description a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}

.pref {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(31 41 55 );
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: transparent;
}

.pref:hover {
  color: rgb(156 163 175);
}

.pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.accept {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #2b72fb;
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
  background-color: rgb(55 65 81);
}

.accept:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}


@media (max-width: 600px){
  .marquee{
    padding: 30px;
  }
  .cookie-card{
    height: 12vh;
  }
  .cookie-card .title{
    font-size: 16px;
    margin-top: 5px;
  }
  .cookie-card .description{
    text-align: left;
    font-size: 12px;
  }
  .cookie-card  .pref{
    font-size: 10px;
    text-align: left;
  }
  .cookie-card .accept{
    width: 7vh;
  }
}